*.lnk
*.bak
oaiDCtoMODS_cdm6.5.xsl
oaiDCtoMODS_cdmbase.xsl
./hrvh/esdn_templates.xsl
./hrvh/oaiDCtoMODS_cdm6.5.xsl
./hrvh/oaiDCtoMODS_cdmbase.xsl
./nyh/esdn_templates.xsl
./nyh/oaiDCtoMODS_cdm6.5.xsl
./nyh/oaiDCtoMODS_cdmbase.xsl

nyh/esdn_templates.xsl

hrvh/esdn_templates.xsl

*.xpr

lilrc/esdn_templates.xsl

lilrc/esdn_templates.xsl

metro/esdn_templates.xsl
metro/iso69x.xsl
metro/iso639x.xsl

./non-hosted/esdn_templates.xsl
./non-hosted/iso639x.xsl
./non-hosted/oaiDCtoMODS_base.xsl
./non-hosted/oaiDCtoMODS_cdm6.5.xsl
./non-hosted/oaiDCtoMODS_cdmbase.xsl
./non-hosted/nyphil/esdn_templates.xsl
./non-hosted/nyphil/iso639x.xsl
./non-hosted/nyphil/oaiDCtoMODS_cdm6.5.xsl
./non-hosted/nyphil/oaiDCtoMODS_cdmbase.xsl
non-hosted/nyphil/esdn_templates.xsl
non-hosted/nyphil/iso639x.xsl
non-hosted/nyphil/oaiDCtoMODS_cdm6.5.xsl
non-hosted/nyphil/oaiDCtoMODS_cdmbase.xsl

non-hosted/esdn_templates.xsl

non-hosted/iso639x.xsl

non-hosted/oaiDCtoMODS_base.xsl
non-hosted/cjh/iso639x.xsl
non-hosted/cjh/esdn_templates.xsl
nyh/iso639x.xsl
